{{ partial "top.html" . }}
{{ if not .Date.IsZero }}
    <h1>{{ .Title }} - <nobr>{{ .Date.Format "2006-01-02" }}</nobr></h1>
{{ else }}
    <h1>{{ .Title }} </h1>
{{ end }}

{{ if isset .Params "subtitle" }}
    <h2>{{ .Params.subtitle }}</h2>
{{ end }}

<ul class="post-tags">
{{ range .Params.tags }}
    <li><a href="/tags/{{ . | urlize }}">{{ . }}</a> </li>
{{ end }}
</ul>

{{ partial "share.html" . }}
<article>
    {{ .Content }}
</article>

{{ template "_internal/disqus.html" . }}

{{ partial "bottom.html" . }}
