<nav class="col-md-3">
    {{ range .Site.Menus.main.ByWeight }}
        {{ if .HasChildren }}
            <div id="menu-items-{{.Name}}" class="open">
                <h3 data-open="menu-items-{{.Name}}">{{ .Name }}</h3>
                <ul class="menu-items-{{.Name}}">
                {{ range .Children }}
                    <a href="{{ .URL }}">
                        <li>{{ .Name }}</li>
                    </a>
                {{ end }}
                </ul>   
            </div>
        {{ else }}
            <ul>
                <a title="{{ .Name }}" href="{{ .URL }}">
                    <li class="menu-top-level">
                        {{ .Name }}
                    </li>
                </a>
            </ul>
        {{ end }}
    {{ end }}
  
    <div id="last-posts" class="open">
        <h3 data-open="last-posts">{{ ( index $.Site.Data.translations (default $.Site.Params.locale "en-US") ).mostrecentposts }}</h3>
        <ul>
            {{ range first 5 .Site.RegularPages }}
            <a href="{{ .Permalink }}"><li>{{ .Title }}</li></a>
            {{ end }}
        </ul>
    </div>

    {{ with .Site.Taxonomies.tags }}
    <div id="tags" class="open">
        <h3 data-open="tags">{{ ( index $.Site.Data.translations (default $.Site.Params.locale "en-US") ).tags }}</h3>
        <ul class="tags">
            {{ range $name, $taxonomy := . }}
            <a href="/tags/{{ $name | urlize }}"><li>{{ $name }}</li></a>
            {{ end }}
        </ul>
    </div>
    {{ end }}

    {{ with .Site.Taxonomies.categories }}
    <div id="categories" class="open">
        <h3 data-open="categories">{{ ( index $.Site.Data.translations (default $.Site.Params.locale "en-US") ).categories }}</h3>
        <ul class="categories">
            {{ range $name, $taxonomy := . }}
            <a href="/categories/{{ $name | urlize }}"><li>{{ $name }}</li></a>
            {{ end }}
        </ul>
    </div>
    {{ end }}
</nav>
